weather/config.js
pokedex/Backend/__pycache__
pokedex/Backend/.space
pokedex/Backend/venv
pokedex/Backend/config.py
pokedex/Backend/requirements.txt
pokedex/Backend/Spacefile
memory/backend/__pycache__
memory/backend/.space
memory/backend/venv
memory/backend/config.py
memory/backend/requirements.txt
memory/backend/Spacefile
memory/backend/test.py
memory/backend/users.py
memory/config.js
