/* ! CSS Documentation
* 
? This CSS file contains styles for a memory game interface.
* * The styles define the layout, colors, effects, and animations used in the interface.
* * The styles are organized into sections for global styles, game title, app container, board, cards, buttons, results, and more.
* * The styles are designed to create an interactive and visually appealing user experience for a memory game.
* * The file includes comments to describe the purpose and functionality of each style block.
* * The styles are responsive and optimized for various screen sizes.
* 
TODO: Refactor and optimize the CSS code for improved performance.
TODO: Consider extracting common styles into separate files for reusability.
TODO: Add more comments to explain specific styles and their effects in more detail.
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ? Global Styles */
@keyframes glow {
  0% {
    /* outline-color: #ff0040; */
    box-shadow: 0px 0px 10px 6.5px #ff0040, 0px 0px 10px 3px #ff0040 inset;
  }
  10% {
    /* outline-color: #ff2323; */
    box-shadow: 0px 0px 10px 5px #ff2323, 0px 0px 10px 3px #ff2323 inset;
  }
  35% {
    /* outline-color: #ff7b00; */
    box-shadow: 0px 0px 10px 6.5px #ff7b00, 0px 0px 10px 3px #ff7b00 inset;
  }
  60% {
    /* outline-color: #32ff76; */
    box-shadow: 0px 0px 10px 5px #32ff76, 0px 0px 10px 3px #32ff76 inset;
  }
  85% {
    /* outline-color: #00ffea; */
    box-shadow: 0px 0px 10px 6.5px #00ffea, 0px 0px 10px 3px #00ffea inset;
  }
  100% {
    /* outline-color: #ff0040; */
    box-shadow: 0px 0px 10px 5px #ff0040, 0px 0px 10px 3px #ff0040 inset;
  }
}

:root {
  --glow: glow 4s infinite ease-in-out;
  --blue-glow: 0px 0px 10px 2px #00d9ff;
  --aqua-glow: 0px 0px 10px 2px #50ffc5;
  --pink-glow: 0px 0px 10px 2px #ff3ebf;
  --orange-glow: 0px 0px 10px 2px #ffa600;
  --purple-glow: 0px 0px 10px 2px #a883ff;
  --red-glow: 0px 0px 10px 2px #ff5454;
  --green-glow: 0px 0px 10px 2px #e8ff83;
  --yellow-glow: 0px 0px 10px 2px #ffed4a;
  --dark-blue-glow: 0px 0px 10px 2px #3654ff;
  --green-b-glow: 0px 0px 10px 2px #aeffab;
  --red-b-glow: 0px 0px 10px 2px #ff8e8e;
  --blue-b-glow: 0px 0px 10px 2px #747dff;
  --orange-b-glow: 0px 0px 10px 2px #ffbb00;
  --sunny-glow: 0px 0px 10px 2px #80ffd9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background: url(images/background.png);
  background-size: cover;
  transition: all 0.8s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --glow: glow 4s infinite ease-in-out;
}

body.NoGlow {
  --blue-glow: 0px 0px 10px 2px #fff;
  --aqua-glow: 0px 0px 10px 2px #fff;
  --pink-glow: 0px 0px 10px 2px #fff;
  --orange-glow: 0px 0px 10px 2px #fff;
  --purple-glow: 0px 0px 10px 2px #fff;
  --red-glow: 0px 0px 10px 2px #fff;
  --green-glow: 0px 0px 10px 2px #fff;
  --yellow-glow: 0px 0px 10px 2px #fff;
  --dark-blue-glow: 0px 0px 10px 2px #fff;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  color: #ff0040;
  font-size: 12px;
  font-weight: bolder;
  padding-left: 5px;
  cursor: pointer;
  margin-top: 5px;
}

img {
  width: 60%;
  height: 60%;
  filter: drop-shadow(0px 0px 3px #000000bb);
}

span {
  font-weight: bold;
}

p,
span {
  font-weight: bold;
  text-shadow: 0px 2px 3px #0000003b;
}
button {
  transition: transform 0.5s;
}
button:hover {
  transform: scale(1.1);
}

/* ? Game Title Container */
.game-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.game-title {
  height: 100%;
  width: 48em;
}

.glow {
  animation: var(--glow);
}

/* ? App Container */
.app,
.main-menu,
.hangman-menu,
.hangman-app,
.Config,
.colorsOptionContainer,
.Signup {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto 5px;
  outline: 5px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #0000008a;
  background-color: #ffffff70;
}

.Config {
  height: fit-content;
  justify-content: space-evenly;
}

.Config > * {
  margin: 5px;
}

.OptionContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.app.before,
.main-menu,
.hangman-menu,
.Signup {
  height: fit-content;
  width: 600px;
  margin: 0 auto;
}

.Signup > * {
  margin: 5px;
}

.menu,
.OptionContainer,
.categoriesContainer {
  width: fit-content;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
}

.colorsOptionContainer {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.colorsOptionContainer > * {
  margin: 5px;
}

.OptionContainer {
  height: fit-content;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
}

.main-menu,
.hangman-menu {
  padding: 5px;
}

.hangman-app {
  justify-content: space-evenly;
}

.hangman-container {
  font-weight: bold;
  font-size: 1.2em;
}

.word-container {
  color: #000000ab;
  font-size: 1.6em;
}

/* ? Board */
.board {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-count,
.move-count {
  width: 80%;
  text-align: right;
}

.move-count {
  padding-right: 10px;
}

/* ? Cards Container */
.cards-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 5px;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

/* ... (otras reglas CSS) ... */

/* ? Card */
.card {
  width: 7em;
  height: 7em;
  max-width: 100px;
  max-height: 100px;
  perspective: 1000px;
  display: block;
  justify-content: center;
  align-items: center;
  outline: 4px solid #ffffff;
  border-radius: 13px;
  box-shadow: 0px 0px 10px 2px #00000077;
  cursor: pointer;
  transition: transform 0.6s ease-out;
  position: relative;
  /* animation: moving 3s infinite linear; */
}

@keyframes moving {
  0% {
    transform: translateX(-5%);
    opacity: 1;
  }
  50% {
    transform: translateX(5%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-5%);
    opacity: 1;
  }
}

.card-reverse,
.card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-out;
  backface-visibility: hidden;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.card-reverse {
  text-align: center;
  font-size: 2.8em;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 2px 2px #00000041;
}

.card-front {
  background-color: #fff;
  font-size: 0.8em;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}

.card.matched {
  outline-width: 3px;
}

.card.flipped .card-reverse {
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}

.card.flipped .card-front {
  width: 100%;
  transform: rotateY(0deg);
  top: 0;
  left: 0;
}

/* ? Buttons */
#stop {
  width: 115px;
  border-radius: 10px;
  outline: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 2px #fff;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #32ff76;
  text-align: center;
  margin: 10px;
}

.start,
.Memory,
.Hangman,
.option,
.check,
.hangman-stop,
.home,
.configOption,
.animationOption,
.soundOption,
.config,
.showColorsMenu,
.neonOption,
.closeColorsMenu,
.Create,
.keyboardOption {
  width: 115px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 2px #fff;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #ff7b00;
  text-align: center;
}

.card-reverse.Blue,
.configOption:nth-child(1),
.config,
.start:nth-child(1),
.check,
.option:nth-child(4),
.showColorsMenu {
  background: linear-gradient(#00d9ff, #6ba6ff);
  box-shadow: var(--blue-glow);
}
.card-reverse.Aqua,
.configOption:nth-child(2),
.soundOption,
.start:nth-child(2),
.option:nth-child(2),
.Hangman,
#continue,
#Close-hangman-modal,
#stop {
  background: linear-gradient(#50ffc5, #00ff73);
  box-shadow: var(--aqua-glow);
}
.card-reverse.Pink,
.configOption:nth-child(3),
.start:nth-child(3),
.option:nth-child(3),
.Memory,
.neonOption {
  background: linear-gradient(#ff3ebf, #ff0055);
  box-shadow: var(--pink-glow);
}
.card-reverse.Orange,
.configOption:nth-child(4),
.start:nth-child(4),
.animationOption,
.option:nth-child(7),
.option:nth-child(11) {
  background: linear-gradient(#ffa600, #ff4800);
  box-shadow: var(--orange-glow);
}
.card-reverse.Purple,
.configOption:nth-child(5),
.start:nth-child(5),
.option:nth-child(6) {
  background: linear-gradient(#a883ff, #973bff);
  box-shadow: var(--purple-glow);
}
.card-reverse.Red,
.configOption:nth-child(6),
.start:nth-child(6),
.option:nth-child(5),
.option:nth-child(12),
.hangman-stop {
  background: linear-gradient(#ff5454, #fa0000);
  box-shadow: var(--red-glow);
}
.card-reverse.Green,
.configOption:nth-child(7),
.start:nth-child(7),
.option:nth-child(8) {
  background: linear-gradient(#e8ff83, #88ff00);
  box-shadow: var(--green-glow);
}
.card-reverse.Yellow,
.configOption:nth-child(8),
.start:nth-child(8),
.option:nth-child(1) {
  background: linear-gradient(#ffed4a, #ffc400);
  box-shadow: var(--yellow-glow);
}

.configOption:nth-child(9),
.option:nth-child(10),
.card-reverse.Green-B {
  background: linear-gradient(#aeffab, #1ae200);
  box-shadow: var(--green-b-glow);
}

.configOption:nth-child(10),
.card-reverse.Red-B,
.keyboardOption {
  background: linear-gradient(#ff5b9a, #fa0000);
  box-shadow: var(--red-b-glow);
}

.configOption:nth-child(11),
.option:nth-child(9),
.card-reverse.Blue-B {
  background: linear-gradient(#74ffff, #267dff);
  box-shadow: var(--blue-b-glow);
}

.configOption:nth-child(12),
.card-reverse.Orange-B {
  background: linear-gradient(#ffd859, #ff9100);
  box-shadow: var(--orange-b-glow);
}

.configOption:nth-child(13),
.card-reverse.Night {
  background: linear-gradient(#0004ff, #47d4ff);
  box-shadow: var(--dark-blue-glow);
}

.configOption:nth-child(14),
.card-reverse.Sunny {
  background: linear-gradient(#80ffd9, #ffd900);
  box-shadow: var(--sunny-glow);
}

.letter-checker {
  border-radius: 16px;
  border: none;
  outline: 2px solid #55f4ff;
  box-shadow: 0px 0px 10px 6px #fffffff3;
  background-color: #ffffff9c;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  font-size: 1em;
  color: #23f0ff;
}

.letter-checker:focus {
  color: #ff2323;
  outline-color: #ff0040;
}

.home,
.closeColorsMenu,
.Create {
  background: linear-gradient(#3654ff, #00d9ff);
  border-radius: 20px;
  box-shadow: var(--dark-blue-glow);
}

.Random,
.Challenge {
  width: 230px;
  grid-column: span 2;
}

.Challenge {
  box-shadow: 0px 0px 10px 5px #ff0000 !important;
}

/* ? Results Container */
.results-container {
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.results-container #result span,
.hangman-highscore span,
.hangman-results span {
  color: #ff2323;
}

#highscore span {
  color: #ff2323;
}

/* ? Paired cards modal */
.modal,
.lose-modal {
  z-index: 1000;
  width: 85%;
  height: 85vh;
  min-height: 550px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  outline: 5px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #0000008a;
  background-color: #ffffffd5;
}

.lose-modal {
  height: 60vh;
  min-height: 60vh;
}

.modal-card {
  z-index: inherit;
  width: 40%;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-img:hover {
  transform: scale(1.1);
}

.modal .modal-img,
.lose-modal .modal-img,
.hangman-container .modal-img {
  width: 7em;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 2px #0000008a;
  background-color: #fff;
  border-radius: 15px;
  outline: solid 2px #fff;
  margin: 1em;
  transition: all 0.5s;
}

.modal p {
  text-align: center;
  color: #000000e0;
  margin: 1em;
}

.modal .modal-card .emotion-name {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.modal .modal-card .emotion-description {
  word-wrap: break-word;
  white-space: normal;
  margin: 5px;
}

.modal .modal-card .question {
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

/* ? Continue game btn*/
#continue,
#Close-hangman-modal {
  width: 115px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 2px #fff;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.hangman-app {
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}

.keyBoard {
  display: none;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 15px 2px;
}

.letter-container {
  aspect-ratio: 1/1;
  height: fit-content;
  border-radius: 15px;
  background-color: #72727280;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  margin: 2.5px;
  box-shadow: 0px 0px 2px 1px #fff;
}

.letter-container p {
  text-align: center;
  font-size: 18px;
}

#Username {
  border-radius: 15px;
  border: 2px solid #00ff73;
  box-shadow: 0px 0px 10px 6px #fffffff3;
  background-color: #ffffff9c;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  font-size: 1em;
  color: #00ff73;
}

#Username:focus {
  color: #ff2323;
  outline-color: #ff0040;
}

.itemsContainer {
  margin-top: 5px;
  width: 80%;
  border-radius: 15px;
  background-color: #ffffff69;
  box-shadow: 0px 0px 10px 3px #00000048;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.itemsContainer p {
  font-size: 1.1em;
  font-weight: bold;
}

.points span {
  color: #0099ff;
}

.gatoCoins span {
  color: #ff4800;
}

.app .itemsContainer {
  display: none;
}

.app.before .itemsContainer {
  display: flex;
}

/* ? Hidden Element */
.hidden {
  display: none;
}

@media (max-width: 500px) {
  .cards-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .menu {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 780px) {
  body {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  body.displayed {
    justify-content: center;
  }
  .keyBoard {
    display: flex;
  }
  .card img {
    width: 80%;
    height: 80%;
  }
  .app,
  .main-menu,
  .hangman-menu,
  .Signup {
    width: 85%;
    height: 85vh;
  }
  .app.before,
  .main-menu,
  .hangman-menu {
    width: 85%;
  }
  .Signup {
    height: fit-content;
  }
  .card {
    aspect-ratio: 1/1;
    width: 80%;
    max-width: 75px;
    height: auto;
  }
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .card-front {
    background-color: #fff;
    transform: rotateY(180deg);
  }

  .card.flipped .card-reverse {
    width: 100%;
    transform: rotateY(180deg);
  }

  .card.flipped .card-front {
    width: 100%;
    transform: rotateY(0deg);
  }
  .modal {
    width: 80vw;
    height: 85%;
    margin-top: 0;
  }
  .modal-card {
    width: 100%;
  }

  .modal .modal-card .emotion-description {
    font-size: 0.9em;
  }
  .emotion-desc {
    display: none;
  }
  .game-title-container {
    width: 100%;
  }
  .game-title {
    width: 100%;
  }
  .modal-img img {
    width: 5em;
    height: 5em;
  }

  .hangman-menu,
  .main-menu {
    height: fit-content;
  }

  .menu {
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
  }

  .hangman-app {
    height: fit-content;
  }

  .word-container {
    font-size: 1.1em;
  }

  .letter-checker {
    font-size: 0.8em;
  }

  .OptionContainer,
  .categoriesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
