/* * Global Styles */
/* ? Flex Styles */

/* * Flex Row */
.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CenterBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CenterEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* * Flex Column */

.CenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CenterBetweenColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.CenterEvenlyColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.CenterEvenlyColumnReverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.StartColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* * Gameboy styles */
.GameBoy {
  margin: 1em;
  justify-content: flex-start;
}

/* * Screen styles */
/* ? Basic Layout for the Screen and the primary elements */
.Screen {
  width: 100%;
  height: 50%;
  position: relative;
  margin-top: 1em;
}

.Viewer {
  width: 100%;
  height: 100%;
  position: relative;
}

.View {
  position: absolute;
  width: 90%;
  height: 90%;
}

.PkmnView {
  width: 100%;
  height: 70%;
}

.Loader {
  display: flex;
  position: absolute;
  width: 90%;
  height: 90%;
}

.PkmnSprite {
  width: 11em;
  height: 11em;
  object-fit: contain;
}

.PkmnTypes {
  width: 90%;
  height: 10%;
  margin: 1em;
}

.Type {
  width: 40%;
  height: 100%;
}

.PkmnInfo {
  width: 100%;
  height: 10%;
}

/* * Btns styles */
.PrimaryBtns {
  width: 100%;
  height: 25%;
  margin: 1em;
}

.SecondaryBtns {
  width: 100%;
  height: 25%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1em;
}

.ArrowBtns {
  width: 6.75em;
  height: 6.75em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Arrow {
  width: 2.5em;
  height: 2.5em;
}

.LetterBtns {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SecondPanel {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.SecondPanel .RoundBtn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.RoundBtn {
  width: 3.5em;
  height: 3.5em;
}

.LinkBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.LinkBtn {
  width: 8em;
  height: 2em;
}

.Start {
  transform: rotate(-10deg);
}

.Select {
  transform: rotate(10deg);
}

/* * Options layout */

.Options {
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Option {
  border-radius: 50%;
  border: 2px solid var(--btn-border);
  width: 3.5em;
  height: 3.5em;
}

/* * Instructions layout */

.Instructions {
  width: 90%;
  height: 95%;
  position: fixed;
  margin: 1em;
}

.InstructionsBtns {
  width: 100%;
  height: 20%;
}

.InstructionsImg {
  margin: 5px;
  width: 95%;
  height: 82%;
  align-items: flex-start;
}

.ConfigBtns {
  height: 20%;
}

.Img {
  width: 100%;
  height: 100%;
}

.Title {
  margin: 5px;
  height: 5%;
  width: 80%;
  text-align: center;
}

.CloseAndRemember,
.DontRememberClose,
.Close,
.Social,
.ShowInstructions {
  margin: 5px;
  padding: 1px;
  width: 60%;
  height: fit-content;
}

.Config {
  width: 90%;
  height: 95%;
  position: fixed;
  margin: 1em;
}

.Colors {
  width: 100%;
  height: 75%;
}

.Color,
.BlockSound {
  margin: 5px;
  width: 70%;
  height: 8%;
}

.Info {
  height: 70%;
  justify-content: space-between;
  align-items: center;
}

.Info .PkmnView {
  width: 55%;
  height: 100%;
}

.Info .PkmnView .PkmnSprite {
  width: 9em;
  height: 9em;
  object-fit: contain;
}

.Info .PhysInfo {
  width: 40%;
  height: 90%;
  justify-content: space-evenly;
}

.SpritesGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.SpritesGrid .PkmnSprite {
  width: 8em;
  height: 8em;
}

.StatView {
  width: 100%;
  height: 85%;
  margin-bottom: 1.25em;
}

.Stat {
  width: 95%;
  height: 14%;
  margin: 2px;
}

.StatName {
  width: 55%;
  height: 100%;
}

.StatValue {
  width: 40%;
  height: 100%;
}

.AbilityView {
  height: 91%;
}

.Ability {
  width: 95%;
  flex-grow: 1;

  margin: 2%;
}

.AbilityTitle {
  width: 90%;
  height: 16px;
}

.AbilityText {
  height: 70%;
  margin-top: 0.5em;
}

.CheckText {
  width: 95%;
  height: 40%;
}

.InfoText {
  width: 80%;
  height: 15%;
}

.AttackView {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.Attack {
  width: 96%;
  height: 10%;
}

.GridCards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
}

.Card {
  width: 100%;
  height: 100%;
}

.CardImage {
  width: 90%;
  height: 60%;
}

.CardInfo {
  width: 90%;
  height: 28%;
}

.CardInfo p {
  width: 90%;
  margin-bottom: 0.5em;
  text-align: center;
}
