@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #fc3f3f;
  background-repeat: no-repeat;
}

.app {
  width: 500px;
  padding: 10px;
  padding-bottom: 50px;
  margin: 50px auto;
  background: linear-gradient(#3ffcdc, #fc5436);
  border: 3px solid #fffffff3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 5px #f57c7c;
}

.todolist{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.todolist .head{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
}
.todolist .head .head-title{
    color: #fff;
    font-size: 30px;
    margin-bottom: -5px;
}
.todolist .head .input-container{
    display: flex;
    align-items: center;
}
.todolist .head .input-container .todo-input{
    text-transform: capitalize;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #00ffb3;
    margin-right: 5px;
    color: #80a9f7;
}
.todolist .head .input-container .todo-input:focus{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    color:#00ff80;
    background-color: #d6fdf1;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 15px 2px #ffffffa9;
    outline:none;
}
.todolist .head .input-container .set-task-btn{
    cursor: pointer;
    height: 30px;
    width: 45px;
    border: 2px solid #90f7d8;
    color: #fff;
    background-color: #3ffcb4;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px #3ffcdc;
    transition: all 0.3s;
}
.todolist .head .input-container .set-task-btn:hover{
    background-color: #90f7d8;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px 3px #90f7d8;
}
.todolist .head .input-container .set-task-btn:active{
    box-shadow: 0px 0px 10px 4px #fff;
}
.todolist .head .input-container .delete-btn{
    cursor: pointer;
    height: 30px;
    width: 45px;
    border: 2px solid #90f7d8;
    color: #fff;
    background-color: #3ffcb4;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px #3ffcdc;
    transition: all 0.3s;
}
.todolist .head .input-container .delete-btn:hover{
    background-color: #90f7d8;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px 3px #90f7d8;
}
.todolist .head .input-container .delete-btn:active{
    box-shadow: 0px 0px 10px 4px #fff;
}
.todolist .uncompleted-tasks{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todolist .uncompleted-tasks .uncompleted-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.todolist .uncompleted-tasks .todo-item{
    width: 100%;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #fff;
    border: 2px solid #f57c7c;
    border-radius: 10px;
    background-color: #fc3f3f;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.todolist .uncompleted-tasks .todo-item:hover{
    background-color: #fa5959;
    border: 2px solid #fff;
}
.todolist .uncompleted-tasks .todo-item span input{
    margin-right: 10px;
}
.todolist .uncompleted-tasks .todo-item a svg{
    fill: #fff;
    width: 30px;
    height: 30px;
    margin-top: 7px;
}

.todolist .completed-tasks{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todolist .completed-tasks .completed-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.todolist .completed-tasks .completed-title span{
    margin-left: 10px;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.todolist .completed-tasks .completed-title span:hover{
    color: #00ff80;
    font-size: 25px;
}
.todolist .completed-tasks .todo-item{
    width: 100%;
    height: 40px;
    margin: 2px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #fff;
    border: 2px solid #7cf5bd;
    border-radius: 10px;
    background-color: #3ffc9d;
    font-size: 16px;
    font-weight: bold;
    text-decoration: line-through;
    text-transform: capitalize;
}
.todolist .completed-tasks .todo-item:hover{
    background-color: #6affb5;
    border: 2px solid #fff;
}
.todolist .completed-tasks .todo-item span input{
    margin-right: 10px;
}
.todolist .completed-tasks .todo-item a svg{
    fill: #fff;
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.divisor{
    width: 300px;
    border:1px solid #d6fdf1;
    margin: 0;
}