/* ! CSS Documentation
* 
 ? This CSS file contains styles for a weather widget interface.
* * The styles define the layout, colors, effects, and animations used in the interface.
* * The styles are organized into sections for global styles, container styles, search container, not found container, weather container, weather details, and media queries.
* * The styles are designed to create an interactive and visually appealing user experience for displaying weather information.
* * The file includes comments to describe the purpose and functionality of each style block.
* * The styles are responsive and optimized for both desktop and mobile devices.
* 
TODO: Refactor and optimize the CSS code for improved performance.
TODO: Consider extracting common styles into separate files for reusability.
TODO: Add more comments to explain specific styles and their effects in more detail.
*/

/* ? Global Styles */

/* ! Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
 font-family: 'Poppins', sans-serif;
}

/* ? Container Styles */

/* * Set body styles */
body {
 height: 100vh;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: url(images/background.png), linear-gradient(to top, #4affb9, #0084ff);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 overflow-x: hidden;
}

/* * Set main container styles */
.m-container {
 max-width: 410px;
 height: fit-content;
 margin: 10px 10px 0;
 padding: 5px;
 border: 3px solid #c9dcff;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 20px;
 box-shadow: 0px 0px 20px 4px #1048b1;
}

/* * Set app container styles */
.app {
 border: 2px solid #50b1e970;
 border-radius: 15px;
 width: fit-content;
 max-width: 400px;
 background-color: #fffffffd;
 padding: 10px;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 box-shadow: 0px 0px 10px 3px #246ef8;
}

/* ? Search Container */

/* * Set search container styles */
.search-container {
 width: fit-content;
 max-width: 300px;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
}

/* * Set search button styles */
.search-container .search-btn {
 width: 70px;
 height: 35px;
 font-size: 20px;
 background-color: #bad1fc;
 border: 2px solid #1e6cfc;
 border-radius: 10px;
 padding-top: 3px;
 transition: all 0.2s;
 color: #2b73fa;
}

/* * Set search button hover styles */
.search-container .search-btn:hover {
 background-color: #73a3fc;
 border: 2px solid #0059ff;
}

/* * Set search button active styles */
.search-container .search-btn:active {
 border: 2px solid #fff;
 background-color: #fff;
 box-shadow: 0px 0px 10px 1px #71a3ff;
}

/* * Set location search input styles */
.search-container .location-search {
 text-transform: capitalize;
 outline: none;
 border: 2px solid #72a0f5;
 border-radius: 10px;
 text-align: center;
 color: #000;
 font-size: 15px;
 font-family: 'Roboto', sans-serif;
 font-weight: bolder;
 height: 30px;
 margin: 5px;
 width: 100%;
}

/* * Set location search input focus styles */
.search-container .location-search:focus {
 text-transform: capitalize;
 outline: none;
 border: 3px solid #4a5cff;
}

/* ? Not Found Container */

/* * Set not found container styles */
.not-found-container {
 height: 400px;
 display: none;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* * Set not found image styles */
.not-found-container img {
 filter: hue-rotate(200deg);
 width: 250px;
 height: 250px;
}

/* * Set not found message styles */
.not-found-container p {
 color: #2e73f1;
 font-size: 20px;
 font-weight: bold;
}

/* ? Weather Container */

/* * Set weather container styles */
.weather-container {
 height: 400px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* *Set weather image styles */
.weather-container img {
 width: 250px;
 width: 250px;
}

/* * Set weather information styles */
.weather-container p {
 font-size: 20px;
 color: #2e73f1;
 font-weight: bold;
}

/* ? Weather Details */

/* * Set weather details container styles */
.weather-dtls {
 width: 80%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* * Set weather details text styles */
.weather-dtls .text {
 color: #4447f8;
 font-size: 15px;
 font-weight: bold;
}

/* * Set location icon styles */
.fa-location-dot {
 font-size: 30px;
 color: #1e6cfc;
}

/* * Set details icon styles */
.dtls-icon {
 font-size: 20px;
 color: #1e6cfc;
}

/* ? Links */
.links{
 display: flex;
}

/* * Set link styles */
a {
 font-size: 12px;
 font-weight: bold;
 text-decoration: none;
 color: #7060fa;
 margin: 0px 10px;
}

/* * Set openweathermap image styles */
.openimg {
 width: 50px;
 height: 50px;
}

/* ! Media Queries */

@media (max-width: 768px) {
 /* * Adjust styles for smaller screens */
 body {
   overflow: hidden;
   height: 100vh;
 }
 
 .app {
   width: 90%;
   max-width: 400px;
 }

 .search-container .search-btn {
   width: 60px;
   height: 30px;
   font-size: 16px;
   padding-top: 2px;
 }

 .search-container .location-search {
   width: 180px;
 }

 .weather-container img {
   width: 200px;
   height: 200px;
   margin-bottom: 10px;
 }

 .weather-container p {
   font-size: 18px;
 }

 .weather-dtls .text {
   font-size: 14px;
 }

 .fa-location-dot {
   font-size: 24px;
 }

 .dtls-icon {
   font-size: 16px;
 }

 a {
   font-size: 10px;
 }
}

@media (max-width: 480px) {
 /* * Adjust styles for smaller screens */
 .m-container {
   margin: 20px 35px;
   padding: 5px 0px;
 }

 .search-container .search-btn {
   width: 50px;
   height: 25px;
   font-size: 14px;
   padding-top: 1px;
 }

 .search-container .location-search {
   width: 150px;
   font-size: 12px;
 }

 .weather-container img {
   width: 180px;
   height: 180px;
 }

 .weather-container p {
   font-size: 16px;
 }

 .weather-dtls .text {
   font-size: 12px;
 }

 .fa-location-dot {
   font-size: 20px;
 }

 .dtls-icon {
   font-size: 14px;
 }

 a {
   font-size: 8px;
 }
}
